@model NguyenQuangHuong.Models.Employee

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="UserId" />
			<div class="form-group">
				<label asp-for="FullName" class="control-label"></label>
				<input asp-for="FullName" class="form-control" />
				<span asp-validation-for="FullName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Phone" class="control-label"></label>
				<input asp-for="Phone" class="form-control" />
				<span asp-validation-for="Phone" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Password" class="control-label"></label>
				<input asp-for="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Gender" class="control-label"></label>
				<input asp-for="Gender" class="form-control" />
				<span asp-validation-for="Gender" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Birthday" class="control-label"></label>
				<input asp-for="Birthday" class="form-control" />
				<span asp-validation-for="Birthday" class="text-danger"></span>
			</div>
			<img class="main_img" src="~/Img/@Model.Avata" width="400px" />
			<div class="btn_chon_anh">
				<input class="form-control" type="file" name="img" hidden accept="image/*" id="avatar-input">
				<input id="avatar-file-name" hidden class="text-muted form-control" asp-for="Avata" />
				<button type="button" class="btn btn_profile btn_chooseimg" onclick="chooseFile()">Chọn ảnh</button>
			</div>
			<div class="form-group">
				<label asp-for="Address" class="control-label"></label>
				<input asp-for="Address" class="form-control" />
				<span asp-validation-for="Address" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LastLogin" class="control-label"></label>
				<input asp-for="LastLogin" class="form-control" />
				<span asp-validation-for="LastLogin" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CreateDate" class="control-label"></label>
				<input asp-for="CreateDate" class="form-control" />
				<span asp-validation-for="CreateDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="RoleId" class="control-label"></label>
				<select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
				<span asp-validation-for="RoleId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="EducationalQualification" class="control-label"></label>
				<input asp-for="EducationalQualification" class="form-control" />
				<span asp-validation-for="EducationalQualification" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DepartmentId" class="control-label"></label>
				<select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
				<span asp-validation-for="DepartmentId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Achievements" class="control-label"></label>
				<input asp-for="Achievements" class="form-control" />
				<span asp-validation-for="Achievements" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Active" class="control-label"></label>
				<input asp-for="Active" class="form-control" />
				<span asp-validation-for="Active" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="BranchId" class="control-label"></label>
				<select asp-for="BranchId" class="form-control" asp-items="ViewBag.BranchId"></select>
				<span asp-validation-for="BranchId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

<script>
	function chinhsua() {
		var profileName = document.querySelector('.profile_name');
		var profilePhone = document.querySelector('.profile_phone');
		var profileAddress = document.querySelector('.profile_address');
		var spans = document.querySelectorAll('.profile_content');

		var btnChinhsua = document.querySelector('.btn_profile_update');
		btnChinhsua.style.display = "none";
		var btnChinhsua = document.querySelector('.btn_profile_submit');
		btnChinhsua.style.display = "block";
		var btnChooseImg = document.querySelector('.btn_chooseimg');
		btnChooseImg.style.display = 'block';
		for (var i = 0; i < spans.length; i++) {
			spans[i].style.display = 'none';
			spans[i].nextElementSibling.style.display = 'block';
		}
	}
	function chooseFile() {
		document.getElementById('avatar-input').click();
	}
	document.getElementById('avatar-input').addEventListener('change', function () {
		var fileInput = document.getElementById('avatar-input');
		var fileNameInput = document.getElementById('avatar-file-name');
		fileNameInput.value = fileInput.files[0].name;

		var selectedImageFile = fileInput.files[0];
		// Check if a file is selected
		if (selectedImageFile) {
			// Set the value of the fileNameInput to the selected image file name
			fileNameInput.value = selectedImageFile.name;

			// Construct the image URL with the base path and the selected file name
			var imagePath = "/Img/" + selectedImageFile.name;

			// Set the 'src' attribute of the 'img' element to the constructed image URL
			document.querySelector('.main_img').src = imagePath;
		}
	});
</script>
