
.profile-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

    .profile-user-info img {
        width: 275px;
        height: 275px;
        border-radius: 50%;
        margin-right: 20px;
        object-fit: cover;
    }

.profile-user-details {
    line-height: 1.6;
    margin-left: 15px;
}

    .profile-user-details p {
        margin: 5px 0;
    }

    .profile-user-details strong {
        font-weight: bold;
    }

.profile-user-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.profile-btn-edit,
.profile-btn-logout {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.profile-btn-edit {
    background-color: #3498db;
    color: #fff;
}

.profile-btn-logout {
    background-color: #e74c3c;
    color: #fff;
}

.cart-container {
    width: 80%; /*độ rộng */
    max-width: 1200px;
    margin: 20px auto; /* căn giữa */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.btn-delete {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-checkout {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.profile-user-details strong{
    width:120px
}
.divc {
    display: flex;
    margin-bottom: 10px;
}