@*<section class=" slider_section">
	<div id="carouselExampleIndicators" class="carousel slide vert" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="slider_box">
					<div class="fixed_company-detail">
						<p>
							Star Security Services
						</p>
					</div>
					<div class="slider-detail">
						<div class="slider_detail-heading">
							<h2>
								Chúng Tôi Là
							</h2>
							<h1>
								Star Security Services
							</h1>
						</div>
						<div class="slider_detail-text">
							<p>
								Cung cấp một đội ngũ nhân viên được đào tạo tốt nhằm giảm bớt mọi phiền toái và rắc rối liên quan đến sự an toàn, bảo mật và quản lý của bạn.
							</p>
						</div>
						<div class="slider_detail-btn">
							<a href="">
								<span>
									Đọc Thêm
								</span>
								<img src="images/arrow.png" alt="" class="ml-2" />
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="slider_box">
					<div class="fixed_company-detail">
						<p>
							Security Guard Company
						</p>
					</div>
					<div class="slider-detail">
						<div class="slider_detail-heading">
							<h2>
								Chúng Tôi Là
							</h2>
							<h1>
								Star Security Services
							</h1>
						</div>
						<div class="slider_detail-text">
							<p>
								Cung cấp một đội ngũ nhân viên được đào tạo tốt nhằm giảm bớt mọi phiền toái và rắc rối liên quan đến sự an toàn, bảo mật và quản lý của bạn.
							</p>
						</div>
						<div class="slider_detail-btn">
							<a href="">
								<span>
									Đọc Thêm
								</span>
								<img src="images/arrow.png" alt="" class="ml-2" />
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="slider_box">
					<div class="fixed_company-detail">
						<p>
							Security Guard Company
						</p>
					</div>
					<div class="slider-detail">
						<div class="slider_detail-heading">
							<h2>
								Chúng Tôi Là
							</h2>
							<h1>
								Star Security Services
							</h1>
						</div>
						<div class="slider_detail-text">
							<p>
								Cung cấp một đội ngũ nhân viên được đào tạo tốt nhằm giảm bớt mọi phiền toái và rắc rối liên quan đến sự an toàn, bảo mật và quản lý của bạn.
							</p>
						</div>
						<div class="slider_detail-btn">
							<a href="">
								<span>
									Đọc Thêm
								</span>
								<img src="~/Img/imguser/arrow.jpg" alt="" class="ml-2" />
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Trước</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Sau</span>
		</a>
	</div>
</section>*@

<section class="welcome_section layout_padding">
	<div class="container-fluid">
		<div class="row">
			<div class=" col-md-6">
				<div>
					<img class="img-fluid" src="~/Img/imguser/welcome.jpg"  alt="" />
				</div>
			</div>
			<div class=" col-md-6">
				<div class="welcome_detail">
					<h2>
						CHÀO MỪNG BẠN ĐẾN VỚI CÔNG TY DỊCH VỤ BẢO VỆ NGÔI SAO
					</h2>
					<p>
						Chúng tôi là một công ty chuyên nghiệp cung cấp các phương án bảo mật tùy chỉnh cho các doanh nghiệp công nghiệp, thương mại và kinh doanh.

						Star Securities đã là một trong những người tiên phong trong ngành Bảo vệ Tư nhân. Được thành lập vào năm 2000, công ty đã trở thành một nhà lãnh đạo suy nghĩ và kiến thức từ khi thành lập. Qua thập kỷ tồn tại, Star đã nỗ lực cung cấp những giải pháp bảo mật tốt nhất cho khách hàng thông qua sự đổi mới, cam kết về chất lượng, đào tạo và tuân thủ nghiêm ngặt các tiêu chuẩn quốc tế.
					</p>
					<div class="welcome_detail-btn">
						<a href="">
							<span>
								Đọc Thêm
							</span>
							<img src="~/Img/imguser/arrow-black.png" alt="" class="ml-2" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>