@model IEnumerable<NguyenQuangHuong.Models.Region>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 style="text-align:center">Danh Sách Các Miền</h1>

<p>
    <a asp-action="Create" class="btn btn-danger">Thêm Miền</a>
</p>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
               Tên Các Miền
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegionName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.RegionId" class="btn btn-danger">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RegionId" class="btn btn-danger">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RegionId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
