@model NguyenQuangHuong.Models.Testimonial

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Testimonial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestimonialText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestimonialText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountsUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountsUser.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TestimonialId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
